---
 import '../styles/global.css' 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Base Apparel</title>
	</head>
	<body class="bg-pinkpr">
        <nav>
            <a href="#"><img src="/images/logo.svg" alt="Base Apparel logo"></a>
        </nav>
        <main>
            <div>
                <img src="/images/hero-mobile.jpg" alt="A woman in elegant fashion posture against a warm, soft-focused background">
            </div>
            <div>
                <h1>we're coming soon</h1>
                <p>Hello fellow shoppers! We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch deals.</p>
                <div>
                    <input type="email" id="email" pattern=".+@example\.com" size="30" required placeholder="E-mail address" />
                    <button class="bg-black"><img src="/images/icon-arrow.svg" alt="Arrow Icon"></button>
                </div>
            </div>
        </main>
	</body>
</html>
